@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");
.dashcard {
  width: 260px;
  /* width: 100%;        */
  height: 200px;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* justify-items: center; */
  font-family: "Mulish", sans-serif;
}

.title {
  /* border: 1px solid black; */
  width: 80%;
  text-align: center;
  height: 75px;
}

.title > h2 {
  /* font-weight: 500; */
  font-size: 23px;
}

.numb {
  /* border: 1px solid red; */
  width: 100%;
  height: 41%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f88a12;
}

.count {
  font-size: 70px;
  letter-spacing: 3px;

  /* margin-bottom: 20px ; */
}

.vd_btn {
  width: 100%;
  height: 35px;
  border-radius: 0px 0px 10px 10px;
  background: transparent linear-gradient(180deg, #f88a12 0%, #cd2d05 100%) 0%
    0% no-repeat padding-box;
  border: none;
  color: rgba(255, 255, 255, 1);
  outline: none;
  font-size: 20px;
  cursor: pointer;
}

.cls_blue {
  color: #19006e;
}

.cls_green {
  color: #0e8b00;
}

.cls_fs {
  height: 41%;
}

.clsh_fs {
  font-size: 36px;
}

.cls_h {
  height: 60%;
}

.clsh_fsb{
    font-size: 78px;
}